extends layout

block content
  //-Edit this file!! :)
  .master
    h1 Congratulations!

    h3 WebDev seems to be setup correctly.
    p.
      Make sure that gulp is running, and then try saving
      a change to app/jade/index.jade.  Did the page refresh
      with your change?  If so, you're good to go!
    button(onclick="change();") Test CoffeeScript
    #content
    //-If the php content doesn't show up you 
    //-need to edit your server's PHP settings
    <?php echo "This is echoed from PHP!"; ?>
  
  include anInclude