extends layout

block content
  //Edit this file!! :)
  h1 Congratulations!
  h3 WebDev setup correctly.
  #content
  //If the php content doesn't show up you 
  //need to edit your server's PHP settings
  <?php echo "This is echoed from PHP!"; ?>
  include anInclude