div#map
  div#0-0.mapSquare
  div#0-1.mapSquare
  div#0-2.mapSquare
  div#0-3.mapSquare
  div#0-4.mapSquare
  div#0-5.mapSquare
  div#0-6.mapSquare
  div#0-7.mapSquare
  div#0-8.mapSquare
  div#0-9.mapSquare
  div#1-0.mapSquare
  div#1-1.mapSquare
  div#1-2.mapSquare
  div#1-3.mapSquare
  div#1-4.mapSquare
  div#1-5.mapSquare
  div#1-6.mapSquare
  div#1-7.mapSquare
  div#1-8.mapSquare
  div#1-9.mapSquare
  div#2-0.mapSquare
  div#2-1.mapSquare
  div#2-2.mapSquare
  div#2-3.mapSquare
  div#2-4.mapSquare
  div#2-5.mapSquare
  div#2-6.mapSquare
  div#2-7.mapSquare
  div#2-8.mapSquare
  div#2-9.mapSquare
  div#3-0.mapSquare
  div#3-1.mapSquare
  div#3-2.mapSquare
  div#3-3.mapSquare
  div#3-4.mapSquare
  div#3-5.mapSquare
  div#3-6.mapSquare
  div#3-7.mapSquare
  div#3-8.mapSquare
  div#3-9.mapSquare
  div#4-0.mapSquare
  div#4-1.mapSquare
  div#4-2.mapSquare
  div#4-3.mapSquare
  div#4-4.mapSquare
  div#4-5.mapSquare
  div#4-6.mapSquare
  div#4-7.mapSquare
  div#4-8.mapSquare
  div#4-9.mapSquare
  div#5-0.mapSquare
  div#5-1.mapSquare
  div#5-2.mapSquare
  div#5-3.mapSquare
  div#5-4.mapSquare
  div#5-5.mapSquare
  div#5-6.mapSquare
  div#5-7.mapSquare
  div#5-8.mapSquare
  div#5-9.mapSquare
  div#6-0.mapSquare
  div#6-1.mapSquare
  div#6-2.mapSquare
  div#6-3.mapSquare
  div#6-4.mapSquare
  div#6-5.mapSquare
  div#6-6.mapSquare
  div#6-7.mapSquare
  div#6-8.mapSquare
  div#6-9.mapSquare
  div#7-0.mapSquare
  div#7-1.mapSquare
  div#7-2.mapSquare
  div#7-3.mapSquare
  div#7-4.mapSquare
  div#7-5.mapSquare
  div#7-6.mapSquare
  div#7-7.mapSquare
  div#7-8.mapSquare
  div#7-9.mapSquare
  div#8-0.mapSquare
  div#8-1.mapSquare
  div#8-2.mapSquare
  div#8-3.mapSquare
  div#8-4.mapSquare
  div#8-5.mapSquare
  div#8-6.mapSquare
  div#8-7.mapSquare
  div#8-8.mapSquare
  div#8-9.mapSquare
  div#9-0.mapSquare
  div#9-1.mapSquare
  div#9-2.mapSquare
  div#9-3.mapSquare
  div#9-4.mapSquare
  div#9-5.mapSquare
  div#9-6.mapSquare
  div#9-7.mapSquare
  div#9-8.mapSquare
  div#9-9.mapSquare